        <!--H1>~~~FeedTitle~~~</H1>
        <H2>~~~FeedDescription~~~</H2>
        <BR-->
        <TABLE width="100%">
            ~~~BeginItemsRecord~~~
            <!--TR>
                <TD>
                    ~~~ItemPubShortDate~~~ ~~~ItemPubShortTime~~~
                </TD>
            </TR-->
            <TR>
                <TD>
                    <B><A href="~~~ItemLink~~~">~~~ItemTitle~~~</A></B>
                </TD>
            </TR>
            <!--TR>
                <TD>
                    ~~~ItemDescription~~~
                    <BR>
                </TD>
            </TR-->
            ~~~EndItemsRecord~~~
        </TABLE>
